html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
}
.wrapper{
  // overflow-x: hidden;
  width: 100vw;
  height: 87vh;
  margin-top: 8vh;
}
.container {
  width: 600vw;
  height: 87vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8vh;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 87vh;
  background: yellow;
}

.panel {
  width: 100vw;
  height: 87vh;
}
.red {
  background: blue;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}

.footer-container {
    justify-content: flex-start !important;
}
/* for mobile device */
@media screen and (max-device-width: 767px){}
/* fortablets and small laptop screens */
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){}
/* for large laptop screens and small desktop screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){

}
/* for large desktop screens */
@media screen and (min-device-width: 1920px){}
