.about-container{
    padding: 5%;
    p{
        font-size: 5.25em;
        font-weight: 400;
    }
}
/* for mobile device */
@media screen and (max-device-width: 767px){}
/* fortablets and small laptop screens */
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){}
/* for large laptop screens and small desktop screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){
    .about-container{
        p{
            font-size: 4.5em;
            font-weight: 400;
        }
    }
}
/* for large desktop screens */
@media screen and (min-device-width: 1920px){}