.wrapper{
    overflow-x:hidden;
    margin-top: 8vh;
    height: 87vh;
}
.container{
    width: 200vw;
    height: 87vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x:hidden;
}
.panel{
    width: 100vw;
    height: 87vh;
}
.about-hero-container{
    // position: relative;
    padding: 0 2.5%;
    .text-header{
        padding: 0 !important;
    }
    .text-info-1{
        width: 50%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        p{
            font-size: 1.5em;
        }
    }
    .img-1{
        position: absolute;
        bottom: 0;
        right: 10%;
        img{
            display: flex;
            justify-content: flex-end;
            float: right;
            width: 65%;
            height: 60vh;
            object-fit: cover;
        }
    }
}
.about-section-2{
    width: 100vw;
    height: 87vh;
    position: relative;
    padding: 0 2.5%;
    z-index: 20;
}
.footer-container {
    justify-content: flex-start !important;
}
/* for mobile device */
@media screen and (max-device-width: 767px){}
/* fortablets and small laptop screens */
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){}
/* for large laptop screens and small desktop screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){

}
/* for large desktop screens */
@media screen and (min-device-width: 1920px){}
