.home-hero-container{
    width: 100%;
    height: 85vh;
    position: relative;
}
.text-header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    h1 {
        font-size: 12em;
        font-weight: 200;
        text-align: center;
        // letter-spacing: 20px;
    }
}
.video {
    width: 100%;
    height: 40vh;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.about{
    padding: 2% 0 0 5%;
    width: 44%;
    p {
        font-size: 1.75em;
    }
}
/* for mobile device */
@media screen and (max-device-width: 767px){}
/* fortablets and small laptop screens */
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){}
/* for large laptop screens and small desktop screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){
    .text-header{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5%;
        h1 {
            font-size: 6.5em;
            font-weight: 400;
            text-align: center;
        }
    }
}
/* for large desktop screens */
@media screen and (min-device-width: 1920px){}