.navbar-container{
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: transparent;
    mix-blend-mode: difference;
}
.logo {
    cursor: pointer;
    img {
        height: 4em;
    }
}
.menu-item {
    width: 40%;
    display: flex;
    justify-content: space-between;

    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    li {
        display: inline-block;
        position: relative;
        // display: flex;
        // justify-content: space-between;
        text-decoration: none;
        list-style: none;
        font-weight: 500;
        cursor: pointer;
    }
    span{
        display: inline-block;
        position: relative;
        font-size: .9em;
        font-weight: 500;
        cursor: pointer;
    }
    li::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    li:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    a {
        color: #000;
        text-decoration: none;
    }
}
/* for mobile device */
@media screen and (max-device-width: 767px){
    .logo {
        img {
            height: 3em;
        }
    }
    .menu-item {
        display: none;
    }
}
/* fortablets and small laptop screens */
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){}
/* for large laptop screens and small desktop screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){
    .logo {
        img {
            height: 4em;
        }
    }
}
/* for large desktop screens */
@media screen and (min-device-width: 1920px){}