.work-hero-container{
    width: 100%;
    height: 87vh;
    position: relative;
    .work-image-container{
        position: relative;
        height: 50vh;
        scroll-snap-type: x mandatory;
        // display: flex;
        // overflow: hidden;
        .work-image{
            width: 100%;
            padding: 0 3em;
            // position: absolute;
            display: flex;
            justify-content: center;
            scroll-snap-align: center;
            img{
                height: 50vh;
            }
        }
    }
}

/* for mobile device */
@media screen and (max-device-width: 767px){}
/* fortablets and small laptop screens */
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){}
/* for large laptop screens and small desktop screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){

}
/* for large desktop screens */
@media screen and (min-device-width: 1920px){}